body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--font-regular);
}

.main-container {
  max-width: 950px;
  margin: 0 auto;
}

.blog-intro {
  display: flex;
  flex-flow: row nowrap;
  margin: 15% 0;
  color: var(--main-text-color);
}

.intro-img {
  border-radius: 50%;
  max-width: 200px;
  filter: contrast(120%) brightness(120%);
}

.intro-info {
  align-self: center;
  max-width: 70%;
  margin-left: 4%;
}

.intro-info h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-bold);
}

.intro-info p {
  font-size: 1.2rem;
}

#hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}

#hero .description-wrapper {
  position: absolute;
  padding: 1rem;
  width: 75%;
  font-size: 1.2em;
  color: whitesmoke;
  transition: 1s ease;
}

.description-wrapper h2 {
  font-weight: bold;
  font-size: 1.7em;
}

#hero-button {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 13%;
  padding: 10px 20px;
  background: transparent;
  color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 4px;
  font-size: 1.5em;
  text-transform: uppercase;
}

#hero-img {
  border-radius: 4px;
}

#hero:hover img {
  transform: scale(1.1);
}

#hero:hover .description-wrapper {
  display: none;
}

#hero:hover #hero-button {
  display: block;
}

#hero #hero-button:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.card-container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  overflow: hidden;
}

.card-post {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 4px;
}

.card-post-img-link {
  display: none;
  position: absolute;
  width: 15%;
  filter: opacity(0.7);
  transition: 0.5s ease;
}

.card-post-img {
  transition: 0.5s ease;
}

.card-post:hover {
  filter: grayscale(0.7);
}

.card-post:hover .card-post-img {
  transform: scale(1.15);
}

.card-post:hover .card-post-img-link {
  display: block;
}

.card-post:hover .card-post-img-link:hover {
  filter: opacity(0.8);
  transform: scale(1.2);
}
